# Predicting House Prices Using  Linear Regression

In this project we are gonna see how machine learning algorithms help us predict house prices. Linear Regression is a model of predicting new future data by using the existing correlation between the old data. Here, machine learning helps us identify this relationship between feature data and output, so we can predict future values.

In [5]:
import pandas as pd
# we use sklearn library in many machine learning calculations..
from sklearn import linear_model

# we import out dataset: housepricesdataset.csv
df = pd.read_csv("housepricesdataset.csv",sep = ";")

In [6]:
# lets see and check our data set:
df

   area  bedroom  bathroom   price
0   180        5         1  510000
1   225        4         1  508000
2   260        3         2  548000
3   320        6         1  650000
4   335        4         9  628000
5   345        5         4  632000
6   355        3         0  680000
7   400        4        10  725000

### The following is our feature set:

In [7]:
df[['area', 'bedroom', 'bathroom']]

   area  bedroom  bathroom
0   180        5         1
1   225        4         1
2   260        3         2
3   320        6         1
4   335        4         9
5   345        5         4
6   355        3         0
7   400        4        10

### The following is the output(result) data:

In [8]:
df['price']

0    510000
1    508000
2    548000
3    650000
4    628000
5    632000
6    680000
7    725000
Name: price, dtype: int64

In [9]:
# we define a linear regression model here:

reg = linear_model.LinearRegression()
reg.fit(df[['area', 'bedroom', 'bathroom']], df['price'])

LinearRegression()

#### Since our model is ready, we can make predictions now:

In [10]:
# lets predict a house with 230 square meters, 4 bedrooms and 1 bathroom..

reg.predict([[230,4,1]])

C:\Users\Tinuanandh\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([532518.53192477])

#### Now lets predict a house with 230 square meters, 6 bedrooms and 0 bathroom..

In [11]:
reg.predict([[230,6,0]])

C:\Users\Tinuanandh\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([547698.4900192])

#### Now lets predict a house with 355 square meters, 3 bedrooms and 2 bathroom

In [12]:
reg.predict([[355,3,2]])

C:\Users\Tinuanandh\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([661638.20056961])

In [13]:
# You can make as many prediction as you want..
reg.predict([[230,4,1], [230,6,0], [355,3,2], [275, 5, 1]])

C:\Users\Tinuanandh\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([532518.53192477, 547698.4900192 , 661638.20056961, 588833.00377652])